:root{
	--main-color: #cf0000;

	--shade0 : #CF0000;    
	--shade1 : #FF4E4E ;
	--shade2 : #F91A1A;
	--shade3 : #A90000 ;
	--shade4 : #7F0000;


}

body{
	font-family: 'Poor Story', cursive;
}
nav{
	background-color: #000000;
}

.full-height{
	min-height: 90vh;

}

.splash-pic{
/*	background-image: url("dessertRoad.png");  
	background-repeat: no-repeat;
	background-size: cover;
*/
	background-color: var(--shade0); /*fall back color*/
	

}

h1.top-margin{
	/*margin-top: 5%;*/
	color: #ffffff;
	font-size: 3.5em;
}
#intro-p{
	color: #ffffff;
	font-size: 2em;

}

.section-title{
	color: #ffffff;
	font-size: 2.5em;
}
iframe{
	display:block;
}

#recent-projects-title{
	

}
#projects{
	padding-top: 8vh;
	min-height: 50vh;
	background-color: #ffffff;

}

.portfolio-item-description{
	color:var(--shade0);
}